aside.search-dropdown {
    // Mobile hamburger menu
    background: $off-white;
    padding: 1rem;
    margin:2rem;
    left: 100vw;
    transition: left 400ms linear;
    @include tablet {
        padding: 1rem;
    }
    @include desktop {
        padding: 2rem;
    }
    &.active {
        left: 0; 
    }
    .search-dropdown-mobile-close {
        position: absolute;
        top: 0;
        right: 0;
        @include tablet { display: none; }
    }
}