aside.search-dropdown {
    // Mobile hamburger menu
    left: 100vw;
    padding: 1rem;
    margin:0;
    z-index: 1;
    background: $off-white;
    transition: left 200ms linear;
    @include tablet {
        padding: 1rem;
        margin:2rem;
        z-index: unset;
    }
    @include desktop {
        padding: 2rem;
    }
    &.active {
        left: 0; 
    }
    .search-dropdown-mobile-close {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        height: 4rem;
        width: 4rem;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .fas { font-size: 3rem; } 
        @include tablet { display: none; }
    }
}