#main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
    height:100vh;
    max-width: $site-absolute-max-width;
    
    @include tablet {
        flex-wrap: wrap;
    }
    
    aside.search-dropdown {
    // Mobile hamburger menu
        width: 100%;
        height: 100vh;
        position: absolute;
        @include tablet {
            position: unset;
            flex: 4;
            height: auto;
        }
        @include desktop {
            flex: 3;
        }
    }
    main.article-container {
        @include tablet {
            flex: 6;
        }
        @include desktop {
            flex: 7;
        }
    }
}