main.article-container {
    max-width: calc(100vw - 4rem);
    width: 100%;
    min-height:100%;
    height: auto;
    padding: 1rem;
    margin:2rem;
    background: $off-white;
    @include desktop {
        padding: 2rem;
    }
    .number-results, .preview-header {
        padding-bottom: 2rem;
    }
    .number-results {
        font-size: 2rem;
    }
    .preview-header {
        width: 90%;
        .sort-selection {
            .sort-selected {
                display: inline-block;
                height: 6rem;
                padding: 1.7rem;
                margin-bottom: 2rem;
                border: solid 1px black;
                cursor: pointer;
                p, span {
                    display: inline-block;
                }
                p { padding-right: 1rem; }
                .sort-dropdown-arrow {
                    position: relative;
                    top: 2px;
                    padding-left: 1rem;
                }
            }
            .sort-dropdown {
                display: none;
                width: 16rem;
                position: absolute;
                margin-top: -2rem;
                background: $off-white;
                border: solid 1px black;
                li {
                    padding: 1.7rem;
                    cursor: pointer;
                    &:hover { background: $lightgrey; }
                    p { padding: 0; }
                }
                &.active { display: block; }
            }
        }
        ul.preview-results {
            display: block;
            li {
                padding: 2rem 0;
                border-top: solid 1px $grey;
                .access-level-icon {
                    .fa-lock + span{ color: $red; }
                    .fa-lock-open + span{ color: $green; }
                }
                a {
                    display: inline-block;
                    border: solid 2px $grey;
                    padding: 0.5rem;
                    &:hover {
                        background: $grey;
                        .preview-view-full {
                            color: $off-white
                        }
                    }
                }
                .preview-title, .preview-description {
                    .highlight { 
                        padding: 0;
                        background: $highlight-yellow;
                    }
                }
                .preview-title, .preview-description, .preview-date-published {
                    padding-bottom: 2rem;
                }
            }
        }
    }
}

