* {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

html { font-size: 10px; }

body {
	max-width: $site-absolute-max-width;
	margin: 0 auto;
    font-family: $font;
	font-weight: normal;
	background: $lightgrey;
	color: $black;
	height: 100%;
}

ul {
	padding: 0;

	li {
		list-style: none;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	line-height: 1.5;
}

p, span, div { font-size: 1.6rem; }

h1 { 
	font-size: 2.2rem;
	@include tablet { font-size: 2rem; }
}

.main-header { 
	width: 100%;
	max-height: 11rem;
	.header-title {
		background: $red;
		padding: 1rem;
		h1 { 
			width: 50%;
			color: $off-white;
		}
	}
	.search-dropdown-mobile-open {
		position: absolute;
		top: 0;
		right: 0;
		height: 5rem;
		width: 7rem;
		padding: 0.5rem;
		background: $red;
		border: none;
		cursor:pointer;
		p {
			font-size: 1.6rem;
			color: $off-white;
			border: solid 2px white;
			&:hover { background: darken($red, 20%)}
		}
		@include tablet { display: none; }
	}
}