$black: #000000;
$grey: #333132;
$lightgrey: #e8e6df;
$off-white: #faf4e9;
$white: #ffffff;
$red: #ba0c2f;

// Font
$font: 'HKGrotesk', sans-serif;

// Dimensions
$header-height: 110px;
$footer-height: 80px;
$side-padding: 2rem;

// Paths
$fonts: '../../assets/fonts/';